.button-container {
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 2px;
  height: 45px;
  width: 200px;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.button-container .flipper {
  transition: all 0.5s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
.button-container .button {
  height: 45px;
  width: 200px;
  border-radius: 3px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 1px 2px 4px -1px rgba(60, 60, 60, 0.64);
  box-shadow: 1px 2px 4px -1px rgba(60, 60, 60, 0.64);
}
.button-container .button i.fa {
  color: white;
  font-size: 20px;
  margin: auto;
  text-shadow: 0.5px 1px 2px #3c3c3c;
}
.button-container .button.front {
  z-index: 10;
}
.button-container .button.back {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}
.button-flip3d-vertical1 .flipper-flip3d-vertical1 {
  transform-origin: 100% 22.5px;
}
.button-flip3d-vertical1 .front {
  transform: translateZ(22.5px);
  background-image: linear-gradient(90deg, #000, #3c3c3c);
}
.button-flip3d-vertical1 .back {
  -webkit-transform: rotateX(90deg) translateZ(22.5px);
  -ms-transform: rotateX(90deg) translateZ(22.5px);
  transform: rotateX(90deg) translateZ(22.5px);
  background-image: linear-gradient(90deg, #000, #3c3c3c);
}
.button-flip3d-vertical1:hover .flipper-flip3d-vertical1 {
  transform: rotateX(-90deg);
}

.button-3d.front
{
  color: white !important;
  margin-left:auto;
}

.skill-box
{
  background-color: rgb(51, 51, 51);
  padding: 20px 20px 0 20px;
  border: 0;
  margin-top: 20px;
  margin-right: 10px;
  text-wrap: wrap;
}

.skill-box h5
{
  color: white;
}

.skill-box:hover
{
  transition: .3s;
  background-color: rgb(69, 69, 69);
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(150, 150, 150),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}